<h1><%= @league.name %></h1>
<h2><%= @league.motto %></h2>
<% if !current_user.is_a_member?(@league) %>
  <p><%= link_to "Join #{@league.name}", league_memberships_path(@league), method: :post %></p>
<% end %>