@import "bootstrap";
@import "font-awesome";
@import 'datatables';


.player-table {
  margin: 35px 35px 35px 35px;
  border: 1px solid #adb5bd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contract-year-input .col-9 input {
  width: 90%;
}

.contract-year-input .col-3 {
  text-align: center;
}

.btn-circle {
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 0px 0;
  font-size: 9px;
  margin-left: 6px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.pagination {
  justify-content: center;

}

.league-navbar {
  background-image: linear-gradient(to right, #6287bee8, #c8cbd6);
  box-shadow: 0px 2px 6px #000000;
  border-top: 1px solid;
  margin-top: 5px;
  line-height: 1;
}

.league-navbar .navbar-nav .nav-link {
  color: #eaedf1;
}

.league-navbar .navbar-nav .dropdown-menu {
  background-color: #8fa6ca;
  border: 2px solid #8a87bb;;
  border-top: 0px;
  box-shadow: 3px 3px 7px #9b9ba7;
}

.dropdown-divider {
  border-top: 1px solid #828290;
  display: block;
}

// table.dataTable thead .sorting:after,
// table.dataTable thead .sorting:before,
// table.dataTable thead .sorting_asc:after,
// table.dataTable thead .sorting_asc:before,
// table.dataTable thead .sorting_asc_disabled:after,
// table.dataTable thead .sorting_asc_disabled:before,
// table.dataTable thead .sorting_desc:after,
// table.dataTable thead .sorting_desc:before,
// table.dataTable thead .sorting_desc_disabled:after,
// table.dataTable thead .sorting_desc_disabled:before {
//   bottom: .5em;
// }
